<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dongmihui">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".common.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImageGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WelcomeGuideActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".im.activity.ECChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />

        <!-- 联系人列表 -->
        <activity
            android:name=".im.activity.ECContactListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <!-- 群列表界面 -->
        <activity
            android:name=".im.activity.GroupsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 新建群界面 -->
        <activity
            android:name=".im.activity.ECNewGroupActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 群选择拉取用户界面 -->
        <activity
            android:name=".im.activity.GroupPickContactsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 查看图片界面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 地图 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".im.activity.ECNewFriendsMsgActivity"
            android:screenOrientation="portrait" />

        <!-- 添加用户界面 -->
        <activity
            android:name=".im.activity.AddContactActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 用户信息界面 -->
        <activity
            android:name=".im.activity.UserProfileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 群信息界面 -->
        <activity
            android:name=".im.activity.GroupDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 群黑名单界面 -->
        <activity
            android:name=".im.activity.GroupBlacklistActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 退出群时对话框界面 -->
        <activity
            android:name=".im.activity.ExitGroupDialog"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 搜索群消息界面 -->
        <activity
            android:name=".im.activity.GroupSearchMessageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".im.activity.EditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 黑名单 -->
        <activity
            android:name=".im.activity.BlacklistActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <!-- 设置环信应用的 appkey 换成自己的 -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1111160921178561#cheng1234" />

        <!-- 通知的发送 -->
        <receiver
            android:name=".im.activity.GCMPushBroadCast"
            android:exported="false">
            <intent-filter>
                <action android:name="com.dongmihui" />

                <category android:name="com.dongmihui" />
            </intent-filter>
        </receiver>
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- 声明sdk所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.PrivacySettingsActivity" />
        <activity android:name=".activity.MemberEditorActivity" />
        <activity android:name=".activity.ChangeNameActivity" />
        <activity android:name=".activity.BriefInputActivity" />
        <activity android:name=".activity.ClipImageActivity" />
        <activity android:name=".activity.UsAboutActivity" />
        <activity android:name=".activity.JobSetActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.SettingAccountActivity"></activity>
        <activity android:name=".im.activity.GroupSimpleDetailActivity"></activity>

    </application>

</manifest>